//colours
$primary-BrainFlix-Black: #323232;
$primary-BrainFlix-Blue: #0095ff;
$primary-Silver: #afafaf;
$primary-White: #ffffff;
$secondary-BrainFlix-DarkBlack: #000000;
$secondary-BrainFlix-DarkBlue: #0065ad;
$secondary-Mercury: #e1e1e1;
$secondary-Alabaster: #fafafa;

//screen sizes
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//padding
$padding-between-comp: 1.5rem;
$tablet-padding-between-comp: 3rem;
$desktop-padding-between-comp: 10.9375rem;

//Border-bottom
$border-bottom: 1.5px solid $secondary-Mercury;
