@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.main-video {
	padding: 0 $padding-between-comp;
	border-top: $border-bottom;

	@include tablet {
		padding: 0 $tablet-padding-between-comp;
	}

	@include desktop {
		padding: 0 $desktop-padding-between-comp;
	}

	&__title {
		text-transform: capitalize;
		margin: 1.875rem 0;

		@include tablet {
			border-bottom: $border-bottom;
			font-size: 2.6875rem;
			margin: 3.125rem 0 2.5rem;
			padding-bottom: 2.25rem;
		}
	}

	.form {
		&__content {
			@include desktop {
				@include flex-gap(1.875rem);
			}
		}

		&__input-container {
			@include desktop {
				flex-grow: 1;
			}
		}

		&__thumbnail {
			width: 100%;
			margin-bottom: 1.25rem;

			@include tablet {
				width: 28.75rem;
			}

			@include desktop {
				width: unset;
				height: 14.6875rem;
			}
		}

		&__thumbnail-title,
		&__label {
			text-transform: uppercase;
			color: $primary-Silver;
			font-size: 1rem;
			font-weight: 600;
			margin: 0 0 0.5rem;
		}

		&__label,
		&__field {
			display: block;
		}

		&__field {
			padding: 1rem;
			width: 100%;
			@include input-style;

			&:active,
			&:focus {
				outline: 2px solid $primary-BrainFlix-Blue;
				border: none;
			}

			&--invalid {
				outline: 1px solid #d22d2d;
				border: none;
			}
		}

		&__title {
			height: 3.4375rem;
			margin-bottom: 1.875rem;

			@include desktop {
				margin-bottom: 2.375rem;
			}
		}

		&__description {
			resize: none;
			height: 7.1875rem;
			margin-bottom: 2.1875rem;
		}

		&__buttons {
			@include flex-column;
			gap: 1.5625rem;
			margin-bottom: 2.1875rem;

			@include tablet {
				flex-direction: row-reverse;
				border-top: $border-bottom;
				padding-top: 2.1875rem;
			}

			@include desktop {
				margin-bottom: 33.75rem;
			}
		}
	}
}
