@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.comment {
	display: flex;
	gap: 1.5rem;
	padding: 1.25rem 0;
	border-bottom: 1.5px solid $secondary-Mercury;

	@include tablet {
		padding: 2.1875rem 0;
	}

	@include desktop {
		gap: 2.8125rem;
		padding: 2.1875rem 1.875rem 2.1875rem 1rem;
	}

	&__card {
		display: flex;
		flex-direction: column;
		font-size: 1.0625rem;

		@include tablet {
			font-size: 1.125rem;
		}
	}

	&__header {
		display: flex;
		justify-content: space-between;
		margin-bottom: 0.875rem;
	}

	&__name {
		font-weight: 600;
	}

	&__date {
		color: $primary-Silver;
	}

	&__text {
		margin: 0;
		line-height: 1.5rem;

		@include tablet {
			line-height: 1.875rem;
		}
	}

	&__avatar {
		width: 3.125rem;
		height: 3.125rem;
		border-radius: 50%;
		object-fit: cover;
		object-position: 25%;
		background-color: $secondary-Mercury;
	}
}
