@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.comment {
	@include flex-gap(1.5rem);
	padding: 1.25rem 0;

	@include tablet {
		padding: 2.1875rem 0;
	}

	@include desktop {
		gap: 2.8125rem;
		padding: 2.1875rem 1.875rem 2.1875rem 1rem;
	}

	&__card {
		@include flex-column;
		font-size: 1.0625rem;
		width: 100%;

		@include tablet {
			font-size: 1.125rem;
		}
	}

	&__header {
		display: flex;
		justify-content: space-between;
		margin-bottom: 0.875rem;
	}

	&__name {
		font-weight: 600;
	}

	&__date {
		color: $primary-Silver;
	}

	&__text {
		margin: 0;
		line-height: 1.5rem;

		@include tablet {
			line-height: 1.875rem;
		}
	}

	&__avatar {
		@include avatar;
		flex-shrink: 0;
	}
}
