@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.nextVideo {
	@include flex-gap(1.5rem);
	margin-bottom: 1rem;

	&:hover {
		cursor: pointer;
	}

	@include tablet {
		margin-bottom: 1.875rem;
	}

	&__image {
		width: 8.4375rem;
		border-radius: 6px;

		@include tablet {
			width: 9.0625rem;
		}
	}

	&__info {
		@include flex-column;
		justify-content: space-between;

		@include tablet {
			width: 15rem;
		}
	}

	&__title,
	&__author {
		font-size: 1.0625rem;

		@include tablet {
			font-size: 1.1875rem;
		}
	}

	&__title {
		font-weight: 600;
		margin: 0;
		line-height: 1.5rem;
	}
}
