@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.comment__input {
	border-bottom: $border-bottom;

	@include desktop {
		padding-right: 1.875rem;
	}

	.comment__number {
		font-weight: 600;
		font-size: 1.0625rem;

		@include tablet {
			font-size: 1.1875rem;
		}
	}
	.comment__form-container {
		@include flex-gap(1.5rem);
		margin: 1.875rem 0 $padding-between-comp;

		@include tablet {
			align-items: center;
			margin-bottom: 0.625rem;
		}

		@include desktop {
			gap: 2.8125rem;
			padding-left: 1rem;
		}
	}

	.comment__avatar {
		@include avatar;
		margin-top: 1.875rem;

		@include tablet {
			margin-top: unset;
		}
	}

	.comment__text {
		@include input-style;
		height: 8.125rem;
		padding: 1rem;
		margin-bottom: $padding-between-comp;
		resize: none;

		&::placeholder {
			font-size: 1.0625rem;

			@include desktop {
				font-size: 1.125rem;
			}
		}

		&:active,
		&:focus {
			outline: 2px solid $primary-BrainFlix-Blue;
			border: none;
		}

		&--invalid {
			outline: 1px solid #d22d2d;
			border: none;
		}

		@include tablet {
			height: 3.4375rem;
			padding: 0.625rem 1rem;
			font-size: 1.125rem;
			flex: 1;
		}
	}

	.comment__form {
		flex-grow: 1;

		&-title {
			color: $primary-Silver;
			text-transform: uppercase;
			font-weight: 600;
			margin-bottom: 0.5rem;
		}

		&-fields {
			@include flex-column;

			@include tablet {
				flex-direction: row;
				gap: 2rem;
			}
		}
	}
}
