@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.comment__input {
	border-bottom: 1.5px solid $secondary-Mercury;

	@include desktop {
		padding-right: 1.875rem;
	}

	.comment__number {
		font-weight: 600;
		font-size: 1.0625rem;

		@include tablet {
			font-size: 1.1875rem;
		}
	}
	.comment__form-container {
		display: flex;
		gap: 1.5rem;
		margin: 1.875rem 0 $padding-between-comp;

		@include tablet {
			align-items: center;
			margin-bottom: 0.625rem;
		}

		@include desktop {
			gap: 2.8125rem;
			padding-left: 1rem;
		}
	}

	.comment__avatar {
		width: 3.125rem;
		height: 3.125rem;
		border-radius: 50%;
		object-fit: cover;
		object-position: 25%;
	}

	.comment__text {
		border: 1.5px solid $secondary-Mercury;
		border-radius: 6px;
		background-color: $secondary-Alabaster;
		height: 8.125rem;
		padding: 1rem;
		margin-bottom: $padding-between-comp;
		font-size: 1.0625rem;

		&::placeholder {
			color: $primary-BrainFlix-Black;
			font-size: 1.0625rem;

			@include desktop {
				font-size: 1.125rem;
			}
		}

		&:active {
			border: 2px solid $primary-BrainFlix-Blue;
		}

		@include tablet {
			height: 3.4375rem;
			padding: 0.625rem 1rem;
			font-size: 1.125rem;
			flex: 1;
		}
	}

	.comment__form {
		flex-grow: 1;

		&-title {
			color: $primary-Silver;
			text-transform: uppercase;
			font-weight: 600;
			margin-bottom: 0.5rem;
		}

		&-fields {
			display: flex;
			flex-direction: column;

			@include tablet {
				flex-direction: row;
				gap: 2rem;
			}
		}
	}

	.comment__button {
		text-transform: uppercase;
		background-color: $primary-BrainFlix-Blue;
		width: 100%;
		border: none;
		color: $primary-White;
		font-size: 1rem;
		height: 3.4375rem;
		border-radius: 6px;
		background-image: url(../../assets/Icons/add_comment.svg);
		background-position: 0.75rem 50%;
		background-repeat: no-repeat;
		background-size: 1.5rem;

		@include tablet {
			width: 13.125rem;
		}

		@include desktop {
			width: 12.5rem;
		}

		&:hover {
			background-color: $secondary-BrainFlix-DarkBlue;
			cursor: pointer;
		}
	}
}
