@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography";

.header {
	@include flex-column;
	align-items: center;
	padding: $padding-between-comp;
	gap: 1rem;

	@include tablet {
		flex-direction: row;
		justify-content: space-between;
		padding: $padding-between-comp $tablet-padding-between-comp;
	}

	@include desktop {
		padding: $padding-between-comp $desktop-padding-between-comp;
	}

	&__logo {
		width: 9.375rem;
		flex-shrink: 0;
	}

	&-container {
		width: 100%;

		@include tablet {
			@include flex-gap(2rem);
			justify-content: flex-end;
			width: 40rem;
		}

		@include desktop {
			margin-right: 0.8125rem;
			width: unset;
		}
	}

	&__avatar {
		@include avatar;

		@include tablet {
			width: 3.5rem;
			height: 3.5rem;
			margin-left: -0.3125rem;
		}

		@include desktop {
			margin-left: 1rem;
		}

		&--one {
			@include tablet {
				display: none;
			}
		}

		&--two {
			display: none;

			@include tablet {
				display: unset;
			}
		}
	}

	&__search {
		@include flex-gap(1.5rem);
		padding: $padding-between-comp 0;

		@include tablet {
			padding: 0;
			flex-grow: 1;
		}
	}

	&__input {
		@include input-style;
		height: 2.9375rem;
		background-image: url(../../assets/icons/search.svg);
		background-position: 0.75rem 50%;
		background-repeat: no-repeat;
		background-size: 1.25rem;
		padding-left: 2.625rem;
		flex-grow: 1;

		&::placeholder {
			font-size: 1rem;
		}

		@include tablet {
			height: 3.4375rem;
			background-size: 1.5rem;
			background-position: 1rem 50%;
			padding-left: 3.125rem;
		}

		@include desktop {
			background-position: 1.25rem 50%;
			width: 20rem;
		}
	}
}
