@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography";

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: $padding-between-comp;

	@include tablet {
		flex-direction: row;
		justify-content: space-between;
		padding: $padding-between-comp $tablet-padding-between-comp;
	}

	@include desktop {
		padding: $padding-between-comp $desktop-padding-between-comp;
	}

	&__logo {
		width: 9.375rem;
	}

	&-container {
		width: 100%;

		@include tablet {
			display: flex;
			gap: 2rem;
			width: unset;
		}
	}

	&__avatar {
		width: 3.125rem;
		height: 3.125rem;
		border-radius: 50%;
		object-fit: cover;
		object-position: 25%;
		//margin-top: 1.75rem;
		//background-color: $secondary-color-Mercury;

		&--one {
			@include tablet {
				display: none;
			}
		}

		&--two {
			display: none;

			@include tablet {
				display: unset;
			}
		}

		@include tablet {
			width: 3.5rem;
			height: 3.5rem;
			margin-left: -0.3125rem;
		}
	}

	&__search {
		display: flex;
		gap: 1.5rem;
		padding: $padding-between-comp 0;

		@include tablet {
			padding: 0;
		}
	}

	&__input {
		flex-grow: 1;
		height: 2.9375rem;
		border: 1.5px solid $secondary-Mercury;
		border-radius: 6px;
		background-color: $secondary-Alabaster;
		background-image: url(../../assets/Icons/search.svg);
		background-position: 0.75rem 50%;
		background-repeat: no-repeat;
		background-size: 1.25rem;
		padding-left: 2.8125rem;

		&::placeholder {
			color: $primary-BrainFlix-Black;
			font-size: 16px;
		}

		@include tablet {
			height: 3.4375rem;
			width: 20rem;
		}

		@include desktop {
			background-size: 1.5rem;
			background-position: 1.25rem 50%;
			padding-left: 3.125rem;
		}
	}

	&__button {
		text-transform: uppercase;
		background-color: $primary-BrainFlix-Blue;
		width: 100%;
		border: none;
		color: $primary-White;
		font-size: 1rem;
		height: 3.4375rem;
		border-radius: 6px;
		background-image: url(../../assets/Icons/upload.svg);
		background-position: 0.75rem 50%;
		background-repeat: no-repeat;
		background-size: 1.5rem;

		@include tablet {
			width: 13.125rem;
		}

		@include desktop {
			width: 12.5rem;
		}
	}
}
