@use "../../styles/partials/mixins" as *;

.notFound {
	@include flex-column;
	align-items: center;
	justify-content: center;
	height: 24.75rem;
	gap: 1rem;

	@include tablet {
		height: 35rem;
	}
	&__title {
		font-size: 4rem;
		margin: 0;
	}

	&__paragraph {
		&--highlighted {
			font-weight: 600;
		}
	}
}
